<% include partials/header %>

<div class="container">
<header class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Welcome to Yelp Camp</h1>
    <p>View our handpicked campgrounds from all over the world</p>
    <a class="btn btn-primary" href="https://webdevqais-happycoder123.c9users.io/campgrounds" role="button">Go to all campgrounds</a>
</header>
</div>

<% include partials/footer %>