
<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
          <div class="header item">
            <img src="/images/Blogging-512.png"></img>
            Blog Site
          </div>
          <a class="link item" href="/">
            <i class="home icon"></i>
          </a>
          <a class="link item" href="/blogs/new">
            <i class="plus icon"></i>
            New Post
          </a>
          <div class="right menu">
            <div class="item">
              <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
              </div>
            </div>
            <a class="ui item">
              <i class="user plus icon"></i>
              Sign Up
            </a>
            <a class="ui item">
              <i class="user icon"></i>
              Sign In
            </a>
          </div>
        </div>
    </div>
    <script>
      $('.activating.element')
        .popup()
      ;
    </script>